{% extends "layout.njk" %}

{% block content %}

{% block head %}
        
<title>Quem somos</title>

{% endblock head %}


<div id="wrapper">
          <img src="https://vignette.wikia.nocookie.net/megamitensei/images/2/28/Phantom_Thieves_Logo.png/revision/latest/scale-to-width-down/250?cb=20170528120634" alt="logo">
          <h1>Saiba mais sobre nós</h1>
          <h2>Somos um grupo anônimo de justiceiros que lutam por uma sociedade livre da corrupção.</h2>
          <h2>Se você deseja nossos serviços basta nos contatar em nossas redes sociais.</h2>
          <h2>Não se esqueça de deixar o nome e local de quem você está denunciando.</h2>
       </div>


{% endblock content %}
