{% extends "layout.njk" %}

{% block content %}

<div id="wrapper">
          <img src="https://vignette.wikia.nocookie.net/megamitensei/images/2/28/Phantom_Thieves_Logo.png/revision/latest/scale-to-width-down/250?cb=20170528120634" alt="logo">
          <h1>Phantom Thieves of Hearts</h1>
          <h2>Seja bem vindo</h2>
          <p>Você pode contratar nossos serviços pelas redes sociais</p>
       </div>

        
        
       <div id="links-footer" class="links">
           <a href="https://www.instagram.com/phantomthieves_/" target="_blank">Instagram</a>
           <a href="https://twitter.com/westealhearts" target="_blank">Twitter</a>
           <a href="https://pt-br.facebook.com/TeamThiefsOfHearts/" target="_blank">Facebook</a>
        </div>


{% endblock content %}
