{% extends "layout.njk" %}

{% block head %}
 
   <title>Nosso histórico</title>

   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock head %}

{% block content %}


        <div id="wrapper">    
            <h1>Conheça nosso histórico</h1>
        </div>

        
        
        <section class="cards">

          {% for item in items %}

          <div class="card" id="{{item.id}}">
           <div class="card__image-container">
               <img src="https://img.youtube.com/vi/{{item.id}}/mqdefault.jpg" alt="Imagem de {{item.title}}">
            </div>
            <div class="card__content">
             <p>{{item.title}}</p>
            </div>
            <div class="card__info">
             <p>{{item.info}}</p>
             <p class="card__place">{{item.place}}</p>
            </div>

          {% endfor %}

         </div>

        </section>

           <div class="modal-overlay"> 
             <div class="modal">
                 <a class="close-modal">
                    <i class='material-icons'>close</i>
                  </a>

             <div class="modal-content">
                 <iframe src="" frameborder="0"></iframe>
             </div>       
                
           </div>
        </div>

      <script src="scripts.js"></script>

{% endblock content %}